/*logn*/
.login-button {
  background-color: #007bff; /* Blue background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px; /* Oval shape */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Dark mode styling */
body.dark-mode .form-label {
  color: white !important; /* Change text color to black in dark mode */
}


body.dark-mode {
  background-color: #000 ;
  color: white;
}

body.dark-mode .header,
body.dark-mode .sidenav {
  background-color: #000 ;
}

body.dark-mode .sidenav a {
  color: #818181;
}

body.dark-mode .sidenav a:hover {
  color: blue;
}

body.dark-mode .toggle-label {
  background: #333 ;
}

body.dark-mode .sun-icon {
  opacity: 0;
}

body.dark-mode .moon-icon {
  opacity: 1;
}

/* Additional dark mode styles for other elements if needed */
body.dark-mode .container,
body.dark-mode .cover,
body.dark-mode .footer {
  background-color: #000 ;
}

body.dark-mode .container,
body.dark-mode .cover,
body.dark-mode .footer a:not(.nav-link) {
  color: white;
}

/* Ensure text remains readable in dark mode */
body.dark-mode .nav-link {
  color: white;
}

body.dark-mode .nav-link:hover,
body.dark-mode .nav-link:focus {
  text-decoration: underline white;
}

/* Dark mode styles for specific elements 
body.dark-mode .shadow-1-strong,
body.dark-mode .bg-white,
body.dark-mode .my-5 {
  background-color: black ;  
  color: white;  
}*/
body.dark-mode .shadow-1-strong,
body.dark-mode .shadow-1-strong.bg-white.my-5.p-5 {
  background-color: black !important;
  color: white; /* Ensure text is readable */ 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5) !important; /* White shadow */

}

body.dark-mode .shadow-1-strong.bg-white.my-5.p-5 {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5) !important; /* Change shadow to white */
}

body.dark-mode .bg-white {
  background-color: black ; /* Ensure this rule overrides others */
}

/* Additional styles to ensure readability in dark mode */
body.dark-mode .shadow-1-strong,
body.dark-mode .bg-white,
body.dark-mode .my-5 {
  color: white; /* Ensure text is readable against the dark background */
}

.toggle-container {
  display: flex;
  align-items: center;
}

.theme-toggle {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: #ccc;
  border-radius: 30px;
  position: relative;
  transition: background 0.3s ease;
  padding: 0 5px; /* Added padding to ensure icons stay inside the button */
}

.theme-toggle:checked + .toggle-label {
  background: #333;
}

.toggle-icon {
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.sun-icon {
  color: yellow;
}

.moon-icon {
  color: white;
  opacity: 0;
}

.theme-toggle:checked + .toggle-label .sun-icon {
  opacity: 0;
}

.theme-toggle:checked + .toggle-label .moon-icon {
  opacity: 1;
}


/*additional certificate*/
@media (max-width: 768px) {
  .p-5 {
      padding: 1.5rem;
  }

  .my-5 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
  }

  .course-title {
      font-size: 1.25rem;
  }

  ul {
      padding-left: 1rem;
  }

  li {
      font-size: 0.875rem;
  }
}

/* Responsive Design for mobile and tablet views */
@media (max-width: 1024px) {
  .course-gallery {
      flex-direction: column;
  }

  .course-item {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
  .header-social {
    text-align: center;
  }

  .header-social .nav {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: center;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .header-social .nav-item {
    margin: 0 10px; /* Adjust as needed for spacing */
  }

  .header-social .nav-link {
    font-size: 1.5rem; /* Adjust as needed */
  }
}
/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

/* Sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration: underline blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: black; /* Adjust as needed */
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.sidenav .closebtn:hover {
  color: blue; /* Adjust as needed */
}

body.dark-mode .sidenav .closebtn {
  color: white; /* Change color to white in dark mode */
}

.sidebar-image {
  text-align: center;
  margin: 20px 0;
}

.sidebar-image img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
  }
}


/* Basic styling for image container */
.image-container {
  position: relative;
  display: inline-block;
}

/* Style for the zoom icon */
.zoom-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px; /* Adjust the width to make the icon smaller */
  height: 24px; /* Explicitly set the height */
  cursor: pointer;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

/* Modal content (the image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Gallery Styles */
.course-gallery {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items at the start of the flex container */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
}

.course-item {
  text-align: center;
  margin: 10px;
}

.course-item img {
  width: 100%;
  max-width: 200px; /* Adjust the max width as needed */
  height: auto;
}

.course-title {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 400;
}

.images-container {
  position: relative;
  display: inline-block;
}

.current-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.images-container:hover .zoom-icon {
  display: block; /* Show on hover */
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* new */
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 0 auto;
}

.h3.big {
  font-size: 2.0rem; /* Larger font size for the heading */
  margin-bottom: 20px;
  text-align: center; /* Center the text */
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure positioning context for arrows */
}

.images-container {
  position: relative;
  display: flex;
  align-items: center;
}

.images-container img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 300px; /* Limit width for larger screens */
  transition: opacity 0.3s ease-in-out;
}

.showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-image {
  opacity: 0;
  position: absolute;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow img {
  width: 30px; /* Adjust size for smaller screens */
  height: 30px;
}

.prev {
  left: 10px; /* Adjust positioning to be closer to the image */
}

.next {
  right: 10px; /* Adjust positioning to be closer to the image */
}


.prev:hover::before {
  left: -5px; /* Position the circle for the previous button */
}

.next:hover::before {
  right: -5px; /* Position the circle for the next button */
}
/* new */
centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(229, 20, 20, 0.8); /* Optional: semi-transparent background */
}

.feedback-image {
  display: none;
  margin-top: 10px;
}

/* Timeline custom component */
.timeline-card {
  position: relative;
  margin-left: 16px; }

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 16px;
  left: -12px;
  border: 5px solid;
  z-index: 2; }

.timeline-body {
  border-left: 2px solid #E6E9ED; }

.timeline-card-primary:before {
  border-color: var(--bs-primary); }

.timeline-card-info:before {
  border-color: var(--bs-info); }

.timeline-card-secondary:before {
  border-color: var(--bs-secondary); }

.timeline-card-success:before {
  border-color: var(--bs-teal); }

html {
  scroll-behavior: smooth; }

html, body {
  overflow-x: hidden; }

.container {
  max-width: 1140px; }

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.nav-link {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  color: inherit;
  opacity: 0.8; }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: white; /* Set a background color if your page has different sections */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add a shadow for better visibility */
}
.header-social .nav-link {
  font-size: 1.25rem; }

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline blue;
  opacity: 1; }

.nav-item + .nav-item {
  margin-left: 1rem;

}

.cover {
  height: 500px; }

.cover > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto; }

.progress-bar {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px; }

.text-small {
  font-size: 0.85rem; }

.text-teal {
  color: var(--bs-blue); }

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 48em) {
  .site-title {
    float: left; }
  .site-nav {
    float: right; } }

@media (max-width: 767px) {
  /* disable animations on mobile */
  [data-aos] {
    opacity: 1 ;
    transform: translate(0) scale(1) ; }
  .p-5 {
    padding: 2.5rem 2rem ; }
  .portfolio-section .m-5 {
    margin: 2rem 0 1rem ; }
  .portfolio-reverse {
    flex-direction: column-reverse; }
  .portfolio-reverse .text-end {
    text-align: start ; } }

@media print {
  [data-aos] {
    opacity: 1 ;
    transform: translate(0) scale(1) ; }
  body.bg-light {
    background-color: #fff ; }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
  .cover {
    height: 360px;
    margin-bottom: 1.5rem; }
  .cover > img {
    display: none; }
  .shadow-1-strong {
    box-shadow: none ; }
  .resume-container > .my-5 {
    margin: 0 ; }
  .my-5.p-5 {
    padding: 1.5rem 0 ; }
  .about-section {
    padding: 0 ; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .portfolio-section,
  .reference-section,
  .contact-section {
    padding: 0 ; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }
