

/*card*/
.card512 {
  --background: linear-gradient(to right, #74ebd5 0%, rgba(255,94,247,1) 17.8% 100%);
  width: 190px;
  height: 254px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: blue;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.card512::before,
.card512::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  z-index: -1;
}

.card512::before {
  background: linear-gradient(to bottom right,rgba(255,94,247,1) 17.8% 0%, #fda085 100%);
  transform: rotate(2deg);
}

.card512 ::after {
  background: linear-gradient(to top right, #84fab0 0%, #8fd3f4 100%);
  transform: rotate(-2deg);
}

.card-info512 {
  --color: #292b2c;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
  z-index: 2;
}

.card512 .title {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.card512:hover::before,
.card512:hover::after {
  opacity: 0;
}

.card512:hover .card-info {
  color: #74ebd5;
  transition: color 1s;
}


/* From Uiverse.io by VijinV */ 
.inputbox {
  position: relative;
  width: 196px;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: #45f3ff;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}
/* From Uiverse.io by mrtqzbek11 */ 
.button123{
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.button123::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.button123:hover{
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%, rgba(2,245,255,1) , rgba(255,94,247,1) 17.8% 100.2% );
  transition: 0.5s;
}

.button123:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}
/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: blue;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}


/* From Uiverse.io by Nawsome */ 
.typewriter {
  --blue: #5C86FF;
  --blue-dark: #275EFE;
  --key: #fff;
  --paper: #EEF0FD;
  --text: #D3D4EC;
  --tool: #FBC56C;
  --duration: 3s;
  position: relative;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  transform: translateX(14px);
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before, .typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before, .typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {
  85%, 92%, 100% {
    transform: translateY(0);
  }

  89% {
    transform: translateY(-4px);
  }

  95% {
    transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
    transform: translateX(14px);
  }

  15%, 30% {
    transform: translateX(6px);
  }

  40%, 55% {
    transform: translateX(0);
  }

  65%, 70% {
    transform: translateX(-4px);
  }

  80%, 89% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
    transform: translateY(46px);
  }

  20%, 30% {
    transform: translateY(34px);
  }

  40%, 55% {
    transform: translateY(22px);
  }

  65%, 70% {
    transform: translateY(10px);
  }

  80%, 85% {
    transform: translateY(0);
  }

  92%, 100% {
    transform: translateY(46px);
  }
}

@keyframes keyboard05 {
  5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}
/* From Uiverse.io by kennyotsu */ 
/*works janky on mobile :<*/
.box {
  position: relative;
  width: 190px;
  height: 254px;
  transition: 200ms;
}

.box:active {
  width: 180px;
  height: 245px;
}

#info-card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.subheader {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}

.header {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.marker:hover ~ #info-card .header {
  opacity: 1;
}

#hint {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  max-width: 110px;
  color: rgb(255, 255, 255);
}

.marker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.marker:hover {
  cursor: pointer;
}

.marker:hover ~ #info-card #hint {
  opacity: 0;
}

.marker:hover ~ #info-card {
  transition: 300ms;
  filter: brightness(1.1);
}

.box:hover #info-card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.grid {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "mk-1 mk-2 mk-3 mk-4 mk-5"
    "mk-6 mk-7 mk-8 mk-9 mk-10"
    "mk-11 mk-12 mk-13 mk-14 mk-15"
    "mk-16 mk-17 mk-18 mk-19 mk-20"
    "mk-21 mk-22 mk-23 mk-24 mk-25";
}

#info-card::before {
  content: '';
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.mk-1 {
  grid-area: mk-1;
}

.mk-2 {
  grid-area: mk-2;
}

.mk-3 {
  grid-area: mk-3;
}

.mk-4 {
  grid-area: mk-4;
}

.mk-5 {
  grid-area: mk-5;
}

.mk-6 {
  grid-area: mk-6;
}

.mk-7 {
  grid-area: mk-7;
}

.mk-8 {
  grid-area: mk-8;
}

.mk-9 {
  grid-area: mk-9;
}

.mk-10 {
  grid-area: mk-10;
}

.mk-11 {
  grid-area: mk-11;
}

.mk-12 {
  grid-area: mk-12;
}

.mk-13 {
  grid-area: mk-13;
}

.mk-14 {
  grid-area: mk-14;
}

.mk-15 {
  grid-area: mk-15;
}

.mk-16 {
  grid-area: mk-16;
}

.mk-17 {
  grid-area: mk-17;
}

.mk-18 {
  grid-area: mk-18;
}

.mk-19 {
  grid-area: mk-19;
}

.mk-20 {
  grid-area: mk-20;
}

.mk-21 {
  grid-area: mk-21;
}

.mk-22 {
  grid-area: mk-22;
}

.mk-23 {
  grid-area: mk-23;
}

.mk-24 {
  grid-area: mk-24;
}

.mk-25 {
  grid-area: mk-25;
}

.mk-1:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.mk-2:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.mk-3:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.mk-4:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.mk-5:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.mk-6:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.mk-7:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.mk-8:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.mk-9:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.mk-10:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.mk-11:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.mk-12:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.mk-13:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.mk-14:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}


.mk-15:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.mk-16:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.mk-17:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.mk-18:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.mk-19:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.mk-20:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.mk-21:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.mk-22:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.mk-23:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.mk-24:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.mk-25:hover ~ #info-card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* From Uiverse.io by ElSombrero2 */ 

.cards-container {
  display: flex;
  flex-direction: row; /* Align cards vertically */
  gap: 10px; /* Space between cards */
  align-items: center; /* Center cards horizontally */
  width: 100%; /* Ensure it takes full width */
  max-width: 800px; /* Optional: Limit maximum width */
  margin: 0 auto; /* Center the container within its parent */
  padding: 20px; /* Optional: Add padding around the container */
}
.card {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.course-image {
  width: auto; /* Maintain the original width */
  height: auto; /* Maintain the original height */
  max-width: 100%; /* Prevents the image from exceeding the width of its container */
  max-height: 100%; /* Prevents the image from exceeding the height of its container */
  display: block; /* Removes any extra space below the image */
}

/* CSS to stack cards vertically */
.stack-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-vertically .card {
  width: 100%;
  margin-bottom: 10px; /* Adjust as needed */
}

.stack-vertically .course-image {
  width: 100%; /* Ensure images scale with the card */
  height: auto; /* Maintain aspect ratio */
}

/* From Uiverse.io by guilhermeyohan */ 
.subscribe {
  position: relative;
  height: 140px;
  width: 240px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
}

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #0f0092;
  color: #FFF;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
  background-color: #07013d;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

/* From Uiverse.io by Praashoo7 */ 
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.facebook {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .linkedin{
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: blue;
}

.card4:hover .facebook {
  fill: white;
}

/* arrow keys */
/* Media query for tablets and mobile devices */
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-3d {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px;
  min-width: 4em;
  min-height: 4em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 8px 16px;
  transform: translateY(0);
  color: #fff;
  background-image: linear-gradient(145deg, #6a11cb, #2575fc);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 0.3s, border-radius 0.3s, background 10s;
}

.button-3d:active .button-top {
  border-radius: 10px 10px 8px 8px / 8px;
  transform: translateY(2px);
  background-image: linear-gradient(145deg, #2575fc, #6a11cb);
}

.button-bottom {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  left: 4px;
  border-radius: 20px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  background-image: linear-gradient(145deg, #2575fc, #6a11cb);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  transition: border-radius 0.2s, padding-top 0.2s;
}

.button-base {
  position: absolute;
  z-index: 0;
  top: 4px;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: border-radius 0.2s, padding-top 0.2s;
}

.button-3d:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-3d:active .button-base {
  border-radius: 10px 10px 8px 8px / 8px;
}


@media (max-width: 768px) {
  .button-3d {
    min-width: 3em; /* Smaller width */
    min-height: 3em; /* Smaller height */
    padding: 0 4px; /* Less padding */
    margin: 8px; /* Adjust margin if needed */
  }

  .button-top {
    padding: 6px 12px; /* Adjust padding for smaller buttons */
    font-size: 18px; /* Smaller font size */
  }

  .button-bottom {
    width: calc(100% - 6px); /* Adjust width */
    height: calc(100% - 8px); /* Adjust height */
  }

  .button-base {
    height: calc(100% - 2px); /* Adjust height */
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .button-3d {
    min-width: 2.5em; /* Even smaller width */
    min-height: 2.5em; /* Even smaller height */
    padding: 0 2px; /* Minimal padding */
    margin: 6px; /* Adjust margin if needed */
  }

  .button-top {
    padding: 4px 8px; /* Adjust padding for very small buttons */
    font-size: 16px; /* Smaller font size */
  }

  .button-bottom {
    width: calc(100% - 4px); /* Adjust width */
    height: calc(100% - 6px); /* Adjust height */
  }

  .button-base {
    height: calc(100% - 4px); /* Adjust height */
  }
}



/*yes or no 
/* From Uiverse.io by bandirevanth */ 
/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em;
 /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
  user-select: none;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: white;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: black;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}


/* Dark mode styling */
body.dark-mode .form-label {
  color: white !important; /* Change text color to white in dark mode */
}

body.dark-mode {
  background-color: #000;
  color: white;
}

body.dark-mode .header,
body.dark-mode .sidenav {
  background-color: #000;
}

body.dark-mode .sidenav a {
  color: #818181;
}

body.dark-mode .sidenav a:hover {
  color: blue;
}

body.dark-mode .toggle-label {
  background: #333;
}

body.dark-mode .sun-icon {
  opacity: 0;
}

body.dark-mode .moon-icon {
  opacity: 1;
}

body.dark-mode .container,
body.dark-mode .cover,
body.dark-mode .footer {
  background-color: #000;
}

body.dark-mode .container,
body.dark-mode .cover,
body.dark-mode .footer a:not(.nav-link) {
  color: white;
}

body.dark-mode .nav-link {
  color: white;
}

body.dark-mode .nav-link:hover,
body.dark-mode .nav-link:focus {
  text-decoration: underline white;
}

body.dark-mode .shadow-1-strong,
body.dark-mode .shadow-1-strong.bg-white.my-5.p-5 {
  background-color: black !important;
  color: white;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5) !important; /* White shadow */
}

body.dark-mode .bg-white {
  background-color: black; /* Ensure this rule overrides others */
}

body.dark-mode .shadow-1-strong,
body.dark-mode .bg-white,
body.dark-mode .my-5 {
  color: white; /* Ensure text is readable against the dark background */
}

/* Toggle switch styling */
.toggle-container {
  display: flex;
  align-items: center;
}

.theme-toggle {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: #ccc;
  border-radius: 30px;
  position: relative;
  transition: background 0.3s ease;
  padding: 0 5px; /* Added padding to ensure icons stay inside the button */
}

.theme-toggle:checked + .toggle-label {
  background: #333;
}

.toggle-icon {
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.sun-icon {
  color: yellow;
}

.moon-icon {
  color: white;
  opacity: 0;
}

.theme-toggle:checked + .toggle-label .sun-icon {
  opacity: 0;
}

.theme-toggle:checked + .toggle-label .moon-icon {
  opacity: 1;
}


/*loader
/* From Uiverse.io by adamgiebl */ 
.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed #444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
      inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed #444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
      inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #e8a87c;
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7400b8;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px #7400b8);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*css*/
.progress-bar {
  height: 20px;
  transition: width 0.6s ease;
}

.bg-expert {
  background-color: #00bfff; /* Blue */
}

.bg-average {
  background-color: #ff69b4; /* Purple */
}

.bg-beginner {
  background-color: #ffa500; /* Orange */
}

/*logn*/

@media (max-width: 768px) {
  .login-button {
      /* Styles for mobile view */
      width: 100%;
      font-size: 18px;
      padding: 15px 0;
  }
}

.login-button {
  background-color: #007bff; /* Blue background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px; /* Oval shape */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/*additional certificate*/
@media (max-width: 768px) {
  .p-5 {
      padding: 1.5rem;
  }

  .my-5 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
  }

  .course-title {
      font-size: 1.25rem;
  }

  ul {
      padding-left: 1rem;
  }

  li {
      font-size: 0.875rem;
  }
}

/* Responsive Design for mobile and tablet views */
@media (max-width: 1024px) {
  .course-gallery {
      flex-direction: column;
  }

  .course-item {
      flex: 1 1 100%;
      max-width: 100%;
  }
}

/* Mobile and Tablet Styles */
@media (max-width: 768px) {
  .header-social {
    text-align: center;
  }

  .header-social .nav {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: center;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }

  .header-social .nav-item {
    margin: 0 10px; /* Adjust as needed for spacing */
  }

  .header-social .nav-link {
    font-size: 1.5rem; /* Adjust as needed */
  }
}
/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 2;
}

/* Sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration: underline blue;
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  color: black; /* Adjust as needed */
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.sidenav .closebtn:hover {
  color: blue; /* Adjust as needed */
}

body.dark-mode .sidenav .closebtn {
  color: white; /* Change color to white in dark mode */
}

.sidebar-image {
  text-align: center;
  margin: 20px 0;
}

.sidebar-image img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
  }
}


/* Basic styling for image container */
.image-container {
  position: relative;
  display: inline-block;
}

/* Style for the zoom icon */
.zoom-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px; /* Adjust the width to make the icon smaller */
  height: 24px; /* Explicitly set the height */
  cursor: pointer;
}

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

/* Modal content (the image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Gallery Styles */
.course-gallery {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Align items at the start of the flex container */
  flex-wrap: nowrap; /* Prevent items from wrapping to the next line */
}

.course-item {
  text-align: center;
  margin: 10px;
}

.course-item img {
  width: 100%;
  max-width: 200px; /* Adjust the max width as needed */
  height: auto;
}

.course-title {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 400;
}

.images-container {
  position: relative;
  display: inline-block;
}

.current-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

.images-container:hover .zoom-icon {
  display: block; /* Show on hover */
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* new */
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  margin: 0 auto;
}

.h3.big {
  font-size: 2.0rem; /* Larger font size for the heading */
  margin-bottom: 20px;
  text-align: center; /* Center the text */
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure positioning context for arrows */
}

.images-container {
  position: relative;
  display: flex;
  align-items: center;
}

.images-container img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 300px; /* Limit width for larger screens */
  transition: opacity 0.3s ease-in-out;
}

.showcase {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-image {
  opacity: 0;
  position: absolute;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow img {
  width: 30px; /* Adjust size for smaller screens */
  height: 30px;
}

.prev {
  left: 10px; /* Adjust positioning to be closer to the image */
}

.next {
  right: 10px; /* Adjust positioning to be closer to the image */
}


.prev:hover::before {
  left: -5px; /* Position the circle for the previous button */
}

.next:hover::before {
  right: -5px; /* Position the circle for the next button */
}
/* new */
centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(229, 20, 20, 0.8); /* Optional: semi-transparent background */
}

.feedback-image {
  display: none;
  margin-top: 10px;
}

/* Timeline custom component */
.timeline-card {
  position: relative;
  margin-left: 16px; }

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  top: 16px;
  left: -12px;
  border: 5px solid;
  z-index: 2; }

.timeline-body {
  border-left: 2px solid #E6E9ED; }

.timeline-card-primary:before {
  border-color: var(--bs-primary); }

.timeline-card-info:before {
  border-color: var(--bs-info); }

.timeline-card-secondary:before {
  border-color: var(--bs-secondary); }

.timeline-card-success:before {
  border-color: var(--bs-teal); }

html {
  scroll-behavior: smooth; }

html, body {
  overflow-x: hidden; }

.container {
  max-width: 1140px; }

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.nav-link {
  padding: 0;
  font-size: 1rem;
  line-height: 2.5rem;
  color: inherit;
  opacity: 0.8; }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    background-color: white; /* Set a background color if your page has different sections */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Add a shadow for better visibility */
}
.header-social .nav-link {
  font-size: 1.25rem; }

.nav-link:hover,
.nav-link:focus {
  text-decoration: underline blue;
  opacity: 1; }

.nav-item + .nav-item {
  margin-left: 1rem;

}

.cover {
  height: 500px; }

.cover > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto; }

.progress-bar {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px; }

.text-small {
  font-size: 0.85rem; }

.text-teal {
  color: var(--bs-blue); }

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 48em) {
  .site-title {
    float: left; }
  .site-nav {
    float: right; } }

@media (max-width: 767px) {
  /* disable animations on mobile */
  [data-aos] {
    opacity: 1 ;
    transform: translate(0) scale(1) ; }
  .p-5 {
    padding: 2.5rem 2rem ; }
  .portfolio-section .m-5 {
    margin: 2rem 0 1rem ; }
  .portfolio-reverse {
    flex-direction: column-reverse; }
  .portfolio-reverse .text-end {
    text-align: start ; } }

@media print {
  [data-aos] {
    opacity: 1 ;
    transform: translate(0) scale(1) ; }
  body.bg-light {
    background-color: #fff ; }
  .container {
    width: auto;
    max-width: 100%;
    padding: 0; }
  .cover {
    height: 360px;
    margin-bottom: 1.5rem; }
  .cover > img {
    display: none; }
  .shadow-1-strong {
    box-shadow: none ; }
  .resume-container > .my-5 {
    margin: 0 ; }
  .my-5.p-5 {
    padding: 1.5rem 0 ; }
  .about-section {
    padding: 0 ; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .portfolio-section,
  .reference-section,
  .contact-section {
    padding: 0 ; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }
